html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background: #f4f4f4;
    transition: .3s;
}

/* HEADER */

header {

    background: linear-gradient(90deg, #0d6efd, #0047b3);
    color: white;

    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;

    z-index: 1000;

    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);

    flex-wrap: wrap;

}

header h1 {

    font-size: 32px;
    letter-spacing: 1px;

    text-shadow: 0 0 15px cyan;

}

nav a {

    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;

    position: relative;
    padding: 8px;
    transition: .3s;

}

nav a:hover {

    color: yellow;

}

nav a::after {

    content: "";

    position: absolute;

    left: 0;

    bottom: -5px;

    width: 0%;

    height: 3px;

    background: white;

    transition: .3s;

}

nav a:hover::after {

    width: 100%;

}

/* SEARCH */

header input {

    padding: 10px 15px;

    border-radius: 30px;

    border: none;

    width: 220px;

}

header input:focus {

    width: 280px;

    box-shadow: 0 0 15px cyan;

    transition: .3s;

}

/* COMMON SECTION */

section {

    text-align: center;

    padding: 80px 20px;

}

section h2 {

    font-size: 40px;

    margin-bottom: 15px;

}


section p {

    font-size: 20px;

    margin-bottom: 20px;

}

/* BUTTON */

button {

    background: #0d6efd;

    color: white;

    border: none;

    padding: 12px 25px;

    font-size: 16px;

    border-radius: 5px;

    cursor: pointer;

    transition: .3s ease;

}

button:hover {

    background: #084298;

    transform: scale(1.05);
    box-shadow: 0 0 15px #0d6efd;
}

/* HOME BANNER */
#home {
    background:
        linear-gradient(rgba(0, 0, 0, .45), rgba(0, 0, 0, .45)),
        url("images/banner.jpg");

    background-size: cover;
    background-position: center;
    height: 75vh;

    position: relative;
    color: white;
}

#home h2 {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 600px;
    text-align: right;
    font-size: 55px;
    margin: 0;
}

#home p {
    position: absolute;
    top: 95px;
    right: 20px;
    width: 600px;
    text-align: right;
    font-size: 24px;
    margin: 0;
}

#home button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 15px 35px;
}

/* PRODUCTS */


.products {


    display: flex;

    justify-content: center;

    gap: 20px;

    flex-wrap: wrap;

    margin-top: 30px;


}

.card {


    background: white;
    position: relative;

    width: 220px;

    padding: 20px;

    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .15);
    border: 1px solid #ddd;
    text-align: center;

    overflow: hidden;

    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card:hover {

    transform: translateY(-12px);

    box-shadow: 0 15px 35px rgba(0, 0, 0, .25);
    border: 2px solid #0d6efd;
}

.badge {

    position: absolute;

    top: 10px;

    left: 10px;

    background: red;

    color: white;

    padding: 5px 10px;

    border-radius: 20px;

    font-size: 13px;

    font-weight: bold;

}

.card img {


    width: 100%;

    height: 180px;

    object-fit: contain;

    transition: .4s;
    cursor: pointer;

}

.card:hover img {

    transform: scale(1.15);
    filter: drop-shadow(0 0 12px #0d6efd);
}

.card h3 {

    margin-bottom: 10px;

    color: #0d6efd;

    font-size: 22px;

    height: 60px;

}

.card h3:hover {
    color: #ff9800;
    transition: .3s;
}

.card p {
    font-weight: bold;
    margin-bottom: 10px;
}

.category {
    color: #666;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: normal;
}

.dark .category {
    color: #dcdcdc !important;
}

.price {
    color: green;
}

.price del {
    color: red;
    font-size: 15px;
    margin-right: 5px;
}

.rating {
    color: #333;
}

.stars {
    color: gold;
    font-size: 18px;
}

.delivery {
    color: #0d6efd !important;
    font-size: 15px;
    font-weight: bold;
}

.warranty {
    color: #ff9800 !important;
    font-size: 15px;
    font-weight: bold;
}

.stock {
    color: #28a745;
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0;
}

.card button {

    width: 100%;

    padding: 12px;

    border-radius: 8px;
    margin-top: auto;
}

/* ABOUT CONTACT */


#about,
#contact {


    background: white;

    padding: 50px;

    text-align: center;


}



#about h2,
#contact h2 {


    color: #0d6efd;

    margin-bottom: 20px;


}




#contact form {


    width: 400px;

    max-width: 100%;

    margin: auto;


}



#contact input,
#contact textarea {


    width: 100%;

    padding: 12px;

    margin: 10px 0;

    border: 1px solid #ccc;

    border-radius: 5px;

    font-size: 16px;


}



input:focus,
textarea:focus {


    outline: none;

    border: 2px solid #0d6efd;


}



/* OFFER */


#offer {


    background: #eaf4ff;

    border-top: 5px solid #0d6efd;

    border-bottom: 5px solid #0d6efd;

    padding: 40px 20px;

    color: #0d6efd;


    animation: glow 2s infinite;
    box-shadow: 0 0 20px rgba(13, 110, 253, .5);

}



#offer h2 {


    font-size: 35px;

}


#offer p {


    color: #333;

}




@keyframes glow {


    50% {

        opacity: .6;

    }


}




/* CART */


#cartBtn {


    background: #28a745;

    padding: 10px 18px;

    margin-left: 10px;


}



#cartBtn:hover {


    background: #218838;


}

#cartBtn:hover {
    transform: scale(1.08);
}




/* TOP BUTTON */


#topBtn {


    position: fixed;

    bottom: 20px;

    right: 20px;


    width: 50px;

    height: 50px;


    border-radius: 50%;


    font-size: 22px;


}




/* FOOTER */


footer {


    background: #0d6efd;

    color: white;

    text-align: center;

    padding: 20px;

    margin-top: 40px;


}



footer p:hover {


    color: yellow;


}




/* DARK MODE */


body.dark {


    background: #121212;

    color: white;


}



.dark header,
.dark footer {


    background: black;


}



.dark .card {


    background: #333;

    color: white;


}



.dark #about,
.dark #contact,
.dark #offer {


    background: #1f1f1f;

    color: white;


}

.dark #offer p {
    color: white !important;
}


.dark input,
.dark textarea {


    background: #333;

    color: white;


}

.dark .rating {
    color: white !important;
}

.dark .category {
    color: #cccccc !important;
}

.dark .stars {
    color: gold !important;
}

.dark #offer p {
    color: white !important;
}



/* MOBILE RESPONSIVE */


@media(max-width:768px) {

    header {

        flex-direction: column;

        gap: 15px;
    }

    #home {

        align-items: center;

        text-align: center;

        padding: 20px;

    }

    #home h2 {

        font-size: 35px;

    }

    #home p {

        font-size: 18px;

    }

    nav a {

        margin: 10px;


    }

    #home button {
        right: 20px;
        bottom: 20px;
    }

    .card {
        width: 90%;
    }


}


footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: yellow;
}

footer a i {
    margin-right: 6px;
    font-size: 18px;
}

::-webkit-scrollbar {

    width: 10px;

}

::-webkit-scrollbar-thumb {

    background: #0d6efd;

    border-radius: 20px;

}